<div class="flex items-center">
  <img
    class="top-44 inset-y-0 shadow-xl"
    src="{{data.image}}"
    alt="{{data.title}} image"
  />
  <div class="flex flex-col pl-6">
    <a class="underline text-blue-400" href="/movies">Go back</a>
    <h2 class="text-xl font-extrabold">{{data.title}}</h2>
    <h3 class="text-lg font-semibold">{{data.director}}</h3>
    <h3 class="font-medium text-base">stars</h3>

    <div class="pl-4">
      <ul>
        {{#each data.stars}}
          <li class="list-disc">{{this}}</li>
        {{/each}}
      </ul>

    </div>

    <div class="w-1/2 p-2">
      <h3>{{data.description}}</h3>
    </div>
    

    <div class="">
      <ul class="flex space-x-4 ">
        {{#each data.showtimes}}
          <li class="flex-grow-0 relative">{{this}}
            <span class="absolute left-12 top-1 transform -translate-x-1/2 h-4 w-0.5 bg-gray-400"></span>
          </li>
          
        {{/each}}
      </ul>
    </div>
  </div>
  </div>
